body{
  font-family: 'Roboto', sans-serif;
}

h1{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0px;
}

.wrapper{
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.polaroid{
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* max-width: 350px !important; */
  width: 400px;
  height: 450px;
  transition: 0.3s;
  padding: 10px;
}

.image{
  background-color:#CED3D3;
  height: 400px;
  display: flex;
  justify-content: center;
}

.image img{
  margin: auto;
}

.polaroid:hover{
  opacity: 0.9;
}


#notebook, #sunglasses, #remote{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

#notebook-text, #sunglasses-text, #remote-text{
  max-width: 350px !important;
  padding: 20px;
}

h2{
  font-size: 25px;
}

p{
  font-size: 17px;
}

.invisible{
  display: none;
}

.visible{
  display: block;
}

footer{
  text-align: center;
  width: 100%;
  bottom:0;
  left:0px;
}


footer > p >  a {
  text-decoration: none;
  color:black;
}



@media only screen and (min-width: 600px) {

  body{
    margin-left: 40px;
    margin-right: 40px;
  }
   .wrapper{
     flex-direction: row;
   }

   .polaroid{
     margin: 20px;
   }

   #notebook-text, #sunglasses-text, #remote-text{
     max-width: 350px !important;
     margin-left: 20px;
     margin-right: 20px;
   }

   #notebook, #sunglasses, #remote{
     margin-bottom: 0px;
   }

   footer{
     position: static;
   }
}
