@font-face {
  font-family: 'Netflix Sans';
  font-weight: 100;
  font-display: optional;
  src: url('NetflixSans_W_Th.woff') format('woff2');
}

@font-face {
  font-family: 'Netflix Sans';
  /* stylelint-disable-line declaration-property-value-blacklist */
  font-weight: bold;
  font-display: optional;
  src: url('NetflixSans_W_Md.woff2') format('woff2');
}

::-webkit-scrollbar {
    display: none;
}

body{
  margin-top: 0 !important;
  background-color: white;
  /* color: white; */
  overflow-x: hidden;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Netflix Sans';
  /* display: flex;
  flex-direction: row; */
}

section{
  /* height: 100vh; */
  /* border: solid 2px blue; */

  padding-left: 10%;
  padding-right: 10%;
}

nav  {
  /* background-color: rgb(0, 0, 0,.3); */
  /* z-index: -1; */
  /* background-color: #161616; */
  /* opacity: 0.25; */
  position: fixed;
  top:0;
  text-align: right;
  width: 100%;
}

nav ul {
  padding: 10px;
}

nav ul li {
  /* border: solid 2px red; */
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  font-weight: bold;
}

nav ul li a{
  z-index: 3;
  color: white;
  text-decoration: none;
}

h2{
  font-size: 30px;
}

a{
  text-decoration: none;
  color: white;
}

.title{
  font-family: times-new-roman;
  font-style: italic;
  font-weight: bold;
}

.home{
  height: 100vh;
}

.home > .title{
  font-size: 150px;
  padding-top: 100px;
  line-height: 100px;
}

.home > #subtitle{
  font-size: 30px;
  line-height: 0px;
  font-family: 'Netflix Sans';
  line-height: 0px;
}


#learn-more{
  margin-top:7%;
  font-size: 17px;
  border: solid 2px white;
  width: 200px;
  text-align: center;
  padding: 5px;
  transition: 0.3s;
  font-weight: bold;
}

#learn-more:hover{
  background-color: white;
  color: #161616;
}

.home {
  color: white;
  height: 100vh;
  margin:0 !important;
}


.home > #background{
  background-color: #161616;
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  z-index: -1;
}

.home > #background > img{
  opacity: 0.25;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

/* Statistics */
.statistics{
  height: 110vh;
  background-color: white;
  color:black;
  padding-top: 20px;
  /* padding-bottom: 20px; */
}

.statistics-wrapper{
  /* border: solid 2px red; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.statistics-wrapper > div{
  /* border: solid 2px red; */
  width: 50%;
  margin: 20px;
}

#statistics-text {
  font-size: 20px;
  line-height: 30px;
}

.statistics > p{
  /* margin-top:0; */
  line-height: 30px;
}

.statistics > h2{
  margin-top:0;
  padding-bottom: 50px;
}

.source{
  text-decoration: underline;
  /* float: right; */
  /* margin-right: 100px; */
  font-size:15px;
}

.quote{
  /* width: 80%; */
  font-size: 50px;
  line-height: normal;
  /* text-align: right; */
  margin: 0;
  /* text-indent: 1em; */
}

#statistics-text{
  padding-bottom: 50px;
}


#statistics a{
  color:black;
  font-weight: bold;
}



/* Prevention */
.prevention{
  padding-top: 20px;
  background-color: #161616;
  color:white;
  height: 70vh;
}


.prevention > #prevention-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prevention > #prevention-wrapper div{
  width: 30%;
  line-height: 25px;
}



/* Survey */

.survey > {
  font-family: times-new-roman;
  font-style: italic;
  font-weight: bold;
}


.button-wrapper{
  display: flex;
  width: 500px;
  justify-content: space-between;
}


#yes{
  width: 200px;
  border: solid 2px #191919;
  margin: 0;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
}


#yes:hover{
  background-color: #161616;
  color: white;
}


#no{
  width: 200px;
  border: solid 2px #191919;
  margin: 0;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
}


#no:hover{
  background-color: #161616;
  color: white;
}


.chart

@media only screen and (max-width: 800px) {
  /* body{
    flex-direction: column;
  } */

  /* section{
    height: 50vh;
  } */
  .home > #subtitle{
    font-size: 20px;
  }

  .home  > #title{
    font-size: 3.5em;
  }


  #quote-wrapper{
    padding-bottom: 60px;

  }

  .quote{
    width: 100%;
    font-size: 35px;
  }


/* Prevention */
  .prevention{
    height: auto;
    padding-bottom: 40px;
    /* height: 100vh; */
  }

  .prevention > #prevention-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .prevention > #prevention-wrapper div{
    width: 100%;
  }


  /* statistics */

  .statistics-wrapper{
    flex-direction: column;
  }

  .statistics-wrapper > div{
    width: 100%;
  }
}
