@font-face {
  font-family: 'Netflix Sans';
  font-weight: 100;
  font-display: optional;
  src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2') format('woff2'), url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff') format('woff');
}

@font-face {
  font-family: 'Netflix Sans';
  /* stylelint-disable-line declaration-property-value-blacklist */
  font-weight: bold;
  font-display: optional;
  src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2') format('woff2'), url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff') format('woff');
}

body{
  background-color: #161616;
  color: white;
  overflow-x: hidden;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Netflix Sans';
  /* display: flex;
  flex-direction: row; */
}

section{
  height: 100vh;
  /* border: solid 2px blue; */

  padding-left: 10%;
  padding-right: 10%;
  /* margin-left: 10%;
  margin-right: 10%; */
}

nav  {
  position: fixed;
  top:0;
  text-align: right;
  width: 100%;
}

nav ul {
  padding: 20px;
}

nav ul li {
  /* border: solid 2px red; */
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  font-weight: bold;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

a{
  color: white;
}

.home > #title{
  font-family: times-new-roman;
  font-size: 150px;
  font-style: italic;
  font-weight: bold;
  padding-top: 25%;
  line-height: 100px;
}

.home > #subtitle{
  font-size: 30px;
  line-height: 0px;
  font-family: 'Netflix Sans';
  line-height: 0px;
}


.home > #learn-more{
  margin-top:7%;
  font-size: 17px;
  border: solid 2px white;
  width: 200px;
  text-align: center;
  padding: 5px;
  transition: 0.3s;
  font-weight: bold;
}

.home > #learn-more:hover{
  background-color: white;
  color: #161616;
}


.home > #background{
  position: absolute;
  left: 0;
  top:0;
  z-index: -1;
  /* border: solid 2px red; */
}


.home > #background > img{
  opacity: 0.25;
  width: 100vw;
  height: 100vh;
}


/* Prevention */
.prevention > #background{

}

.prevention > #prevention-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prevention > #prevention-wrapper div{
  width: 30%;
  line-height: 25px;
}





#yes  #no{
  width: 200px;
  height: 50px;
  /* color:white; */
  border: 2px solid white;
}


@media only screen and (max-width: 800px) {
  /* body{
    flex-direction: column;
  } */

  /* section{
    height: 50vh;
  } */
  .home > #subtitle{
    font-size: 20px;
  }

  .home  > #title{
    font-size: 3.5em;
  }

  .prevention > #prevention-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .prevention > #prevention-wrapper div{
    width: 100%;
  }
}
