@font-face {
  font-family: 'Netflix Sans';
  font-weight: 100;
  font-display: optional;
  src: url('NetflixSans_W_Th.woff') format('woff2');
}

@font-face {
  font-family: 'Netflix Sans';
  /* stylelint-disable-line declaration-property-value-blacklist */
  font-weight: bold;
  font-display: optional;
  src: url('NetflixSans_W_Md.woff2') format('woff2');
}

::-webkit-scrollbar {
    display: none;
}

body{
  margin-top: 0 !important;
  background-color: white;
  /* color: white; */
  overflow-x: hidden;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Netflix Sans';
  /* display: flex;
  flex-direction: row; */
}

section{
  padding-left: 10%;
  padding-right: 10%;
}

nav  {
  /* background-color: rgb(0, 0, 0,.3); */
  /* z-index: -1; */
  /* background-color: #161616; */
  /* opacity: 0.25; */
  position: fixed;
  top:0;
  text-align: right;
  width: 100%;
}

nav ul {
  padding: 10px;
}

nav ul li {
  /* border: solid 2px red; */
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  font-weight: bold;
}

nav ul li a{
  z-index: 3;
  color: white;
  text-decoration: none;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 25px;
}

p{
  font-size: 20px;
  line-height: 25px;
}

a{
  text-decoration: none;
  color: white;
}

.title{
  font-family: times-new-roman;
  font-style: italic;
  font-weight: bold;
}

.home{
  height: 100vh;
}

.home > .title{
  font-size: 150px;
  padding-top: 100px;
  line-height: 100px;
}

.home > #subtitle{
  font-size: 30px;
  line-height: 0px;
  font-family: 'Netflix Sans';
  line-height: 0px;
}


#learn-more{
  margin-top:50px;
  font-size: 17px;
  border: solid 2px white;
  width: 200px;
  text-align: center;
  padding: 5px;
  transition: 0.3s;
  font-weight: bold;
}

#learn-more:hover{
  background-color: white;
  color: #161616;
}

.home {
  color: white;
  height: 100vh;
  margin:0 !important;
}


.home > #background{
  background-color: #161616;
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  z-index: -1;
}

.home > #background > img{
  opacity: 0.25;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

/* Statistics */
.statistics{
  height: 150vh;
  background-color: white;
  color:black;
  padding-top: 20px;
  /* padding-bottom: 20px; */
}

.statistics-wrapper{
  /* border: solid 2px red; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.statistics-wrapper > div{
  /* border: solid 2px red; */
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

#statistics-text {
  line-height: 30px;
}

.statistics > p{
  /* margin-top:0; */
  line-height: 30px;
}

.statistics > h2{
  margin-top:0;
  padding-bottom: 50px;
}

.source{
  text-decoration: underline;
  font-size:15px;
}

.quote{
  font-size: 50px;
  line-height: normal;
  margin: 0;
}


#statistics-text{
  padding-bottom: 50px;
}

#statistics a{
  color:black;
  font-weight: bold;
}


/* Prevention */
.prevention{
  padding-top: 20px;
  background-color: #161616;
  color:white;
  height: 70vh;
}


.prevention > #prevention-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prevention > #prevention-wrapper div{
  width: 30%;
  line-height: 25px;
}

/* Survey */
.survey{
  height: 70vh;
  margin-top: 100px;
  /* padding-top: 300px; */
}


.survey > div{
  padding-top: 50px;
  /* height: 60vh; */
}

.survey > .title{
  font-style: italic;
  font-family: times-new-roman;
  font-size: 100px;
}

#button-wrapper{
  padding-top: 50px;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

#button-wrapper p{
  font-size: 16px;
}

#yes{
  width: 150px;
  height: 50px;
  border: solid 2px #191919;
  margin: 0;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
}

#yes:hover{
  background-color: #161616;
  color: white;
}

#no{
  width: 150px;
  height: 50px;
  border: solid 2px #191919;
  margin: 0;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
}


#no:hover{
  background-color: #161616;
  color: white;
}


#survey-chart{
  display: none;
  position: relative;
  margin: auto;
  margin-right: 0px;
  margin-top: -250px;
  width: 500px;
  height: 500px !important;
  /* border: solid 2px red; */
  /* padding-bottom: 50px; */
}

#results-and-chart-wrapper{
  display: flex;
}

#chart-results{
  display: none;
  width: 60%;
  /* height: 1200px; */
  /* border: solid 2px red; */
  font-size: 30px;
}


.resources{
  height: 100vh;
  background-color: #161616;
  color:white;
  padding-top:20px;
}

.resources > #resources-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.resources > #resources-wrapper > div{
  width: 30%;
  padding-top: 20px;
}

.resources > #resources-wrapper > div > .resources-text {
  width: 100%;
  padding-top: 20px;
  height: 100px;
}

.resources > #resources-wrapper img{
  width: 100%;
  height: auto;
}


.button{
  margin:0 auto;
  height: 50px;
  width: 200px !important;
  border: solid 2px white;
  margin: 0;
  /* background-color: red; */
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
  /* padding: 5px; */
}

.button p{
  font-size: 16px;
}

.button:hover{
  background-color: white;
  color: #161616;
}



@media only screen and (max-width: 800px) {
  .home  > .title{
    font-size: 4em;
  }

  .home > #subtitle{
    font-size: 20px;
  }

  #quote-wrapper{
    padding-bottom: 60px;
  }

  .quote{
    width: 100%;
    font-size: 35px;
  }


/* Prevention */
  .prevention{
    height: auto;
    padding-bottom: 40px;
    /* height: 100vh; */
  }

  .prevention > #prevention-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .prevention > #prevention-wrapper div{
    width: 100%;
  }


  /* statistics */


  .statistics-wrapper{
    flex-direction: column;
  }

  .statistics-wrapper > div{
    width: 100%;
  }

  /* Survey */
  .survey > .title{
    font-size: 50px;
  }

  .survey > div{
    padding-top: 0px;
  }

  #survey-chart{
    top: 100px;
  }

  #button-wrapper{
    width: 60%;
  }

  #yes, #no{
    width: 100px;
  }

  #results-and-chart-wrapper{
    flex-direction: column-reverse;
    width: 100%;
  }

  #chart-results{
    margin-top:150px;
    width: 100%;
  }

  #survey-chart{
    margin-top: -100px;
    width: 100%;
    height: 100px;
  }

  /* Resources */
  .resources{
    height: auto;
  }

  .resources > #resources-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .resources > #resources-wrapper div{
    width: 100%;
  }
}
